# Переменные окружения — игнорируем во всех папках (включая server/.env)
**/.env

# Python
__pycache__/
*.pyc
*.pyo

# Виртуальные окружения
venv/
.venv/

# Системное
.DS_Store
dist/
build/

# Unity specific
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Уу]serSettings/
*.csproj
*.sln
*.unitypackage

# Databases
*.db
*.sqlite